<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header-gites.ejs") %>
    <style>
      .brandon {
        font-family: "BrandonGrotW01-Light", sans-serif;
      }
      .didoteText {
        font-family: "DidoteTextW01-Italic";
      }
      .title-home {
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 40px;
      }
      .sub-title-home {
        font-size: 20px;
      }
      .sub-title-home:before,
      .sub-title-home:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1rem;
        height: 1px;
        background: #000;
      }
      .sub-title-home:before {
        margin-right: 0.3rem;
      }
      .sub-title-home:after {
        margin-left: 0.3rem;
      }
      body,
      html {
        height: 100%;
      }

      .parallax {
        /* The image used */
        background-image: url("images/img_parallax.jpg");

        /* Full height */
        height: 600px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .container-parallax {
        height: 800px;
      }
      .list-card {
        list-style-type: none;
      }
      .ratings {
        background-color: #fff;
        padding: 54px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 10px #e0e0e0;
      }

      .product-rating {
        font-size: 50px;
      }

      .stars i {
        font-size: 18px;
        color: #28a745;
      }

      .rating-text {
        margin-top: 10px;
      }
      .avis {
        text-decoration: none;
      }
      .avis:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <%- include ("../partials/nav-gites.ejs") %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="parallax">
            <div class="row">
              <div class="col-12 bg-light text-center pt-5 pb-3">
                <h1 class="title-home brandon">ERIC & MURIEL</h1>
                <h2 class="sub-title-home didoteText">Gites de France</h2>
              </div>
            </div>
          </div>

          <div class="container-parallax bg-light">
            <div class="container">
              <section id="offers" class="pt-2 mt-3 pb-3">
                <div class="row">
                  <div class="col-12 bg-light text-center pt-5 pb-3">
                    <h1 class="title brandon">Nos Gites</h1>
                  </div>
                </div>

                <!-- Grid row -->
                <div class="row justify-content-center">
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-4">
                    <!--Card-->
                    <div class="card card-personal mb-4">
                      <!--Card image-->
                      <div class="view overlay">
                        <img
                          class="card-img-top"
                          src="images/gites1.jpg"
                          alt="Card image cap"
                        />
                        <a href="#!">
                          <div
                            class="mask rgba-white-slight waves-effect waves-light"
                          ></div>
                        </a>
                      </div>
                      <!--Card image-->

                      <!--Card content-->
                      <div class="card-body">
                        <!--Title-->
                        <a>
                          <h5 class="font-weight-bold text-uppercase">
                            <strong>Aqua Gite n°1</strong>
                          </h5>
                        </a>
                        <a>
                          <span class="badge badge-info py-2 px-2">$ 250</span>
                        </a>

                        <!--Text-->
                        <p class="grey-text mt-2">
                          Gîte à Varennes-sur-fouzon - 36210
                          <!--Grid row-->
                        </p>
                        <div class="row">
                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-hotel dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              3 beds
                            </p>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-utensils dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              Launches
                            </p>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-wifi dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              Wi-Fi
                            </p>
                          </div>
                          <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                      </p>
                      <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 text-center">
                          <p class="dark-grey-text">
                            <i
                              class="fas fa-hotel dark-grey-text"
                              aria-hidden="true"
                            ></i>
                            3 beds
                          </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 text-center">
                          <p class="dark-grey-text">
                            <i
                              class="fas fa-utensils dark-grey-text"
                              aria-hidden="true"
                            ></i>
                            Launches
                          </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 text-center">
                          <p class="dark-grey-text">
                            <i
                              class="fas fa-wifi dark-grey-text"
                              aria-hidden="true"
                            ></i>
                            Wi-Fi
                          </p>
                        </div>
                        <!--Grid column-->
                      </div>
                      <!--Grid row-->
                        <p></p>
                        <hr />
                        <!--Grid column-->
                        <div class="col-12 text-center">
                          <button
                            class="btn btn-info btn-sm font-weight-bold btn-rounded waves-effect waves-light"
                          >
                            <strong>Book a room</strong>
                          </button>
                        </div>
                        <!--Grid column-->
                      </div>
                      <!--Card content-->
                    </div>
                    <!--Card-->
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-4">
                    <!--Card-->
                    <div class="card card-personal mb-4">
                      <!--Card image-->

                      <div class="view overlay">
                        <img
                          class="card-img-top"
                          src="images/gites2.jpg"
                          alt="Card image cap"
                        />
                        <a href="#!">
                          <div
                            class="mask rgba-white-slight waves-effect waves-light"
                          ></div>
                        </a>
                      </div>
                      <!--Card image-->

                      <!--Card content-->
                      <div class="card-body">
                        <!--Title-->
                        <a>
                          <h5 class="font-weight-bold text-uppercase">
                            <strong>
                              <div class="row justify-content-start"></div>
                              Aqua Gite n°2</strong
                            >
                          </h5>
                        </a>
                        <a>
                          <span class="badge badge-info py-2 px-2">$150</span>
                        </a>

                        <!--Text-->
                        <p class="grey-text mt-2">
                          Gîte à Varennes-sur-fouzon - 36210
                          <!--Grid row-->
                        </p>
                        <div class="row">
                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-hotel dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              1 bed
                            </p>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-utensils dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              Launches
                            </p>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-wifi dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              Wi-Fi
                            </p>
                          </div>
                          <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <div class="row">
                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-hotel dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              1 bed
                            </p>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-utensils dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              Launches
                            </p>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-lg-4 col-md-12 text-center">
                            <p class="dark-grey-text">
                              <i
                                class="fas fa-wifi dark-grey-text"
                                aria-hidden="true"
                              ></i>
                              Wi-Fi
                            </p>
                          </div>
                          <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <p></p>
                        <hr />
                        <div class="row justify-content-start"></div>
                        <!--Grid column-->
                        <div class="col-12 text-center">
                          <button
                            class="btn btn-info btn-sm font-weight-bold btn-rounded waves-effect waves-light"
                          >
                            <strong>Book a room</strong>
                          </button>
                        </div>
                        <!--Grid column-->
                      </div>
                      <!--Card content-->
                    </div>
                    <!--Card-->
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </section>
            </div>
          </div>
          <div class="parallax"></div>
        </div>
      </div>
    </div>
  </body>
</html>
