<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header-swimming.ejs") %>
  </head>
  <body id="Home">
    <div id="mySidebar" class="carte-visite-effes" style="display: none">
      <img
        src="./images/gites-de-france.png"
        class="rounded mx-auto d-block"
        style="width: 50%"
      />
      <p class="carte-visite-title">3 les effes, Val Fouzon</p>
      <a href="gites" class="btn btn-success btn-infos-gites">Plus d'infos !</a>
      <div class="btn-carte-visite-custom" onclick="sidebar()">
        <span id="btn-sidebar" style="position: absolute; top: 48%; right: 20%"
          ><</span
        >
      </div>
    </div>

    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar" role="banner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-11 col-xl-4">
              <h1 class="mb-0 site-logo">
                <a href="index.html" class="text-white mb-0"
                  >Aqua-Effes<span class="text-primary">.</span>
                </a>
              </h1>
            </div>
            <div class="col-12 col-md-8 d-none d-xl-block">
              <nav
                class="site-navigation position-relative text-right"
                role="navigation"
              >
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li>
                    <a href="#Home"><span>Accueil</span></a>
                  </li>
                  <li>
                    <a href="#nos-activites"><span>Activités</span></a>
                  </li>
                  <li>
                    <a href="#About"><span>A propos de Nous</span></a>
                  </li>
                  <li>
                    <a href="#Clock"><span>Horaires Cours</span></a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>Nos Gites</span></a>
                  </li> -->
                </ul>
              </nav>
            </div>

            <div
              class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
              style="position: relative; top: 3px"
            >
              <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                <span class="icon-menu h3"></span>
              </a>
            </div>
          </div>
        </div>
      </header>

      <div
        class="site-blocks-cover overlay"
        style="background-image: url(images/prix-abri-piscine.jpg)"
        data-aos="fade"
        data-stellar-background-ratio="0.5"
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-center text-center"
          >
            <div class="col-md-10">
              <div class="row justify-content-center mb-4">
                <div class="col-md-10 text-center">
                  <h1 data-aos="fade-up" class="mb-5">
                    Nous apportons des solutions à votre
                    <span class="typed-words"></span>
                  </h1>

                  <p data-aos="fade-up" data-aos-delay="100">
                    <a
                      href="#nos-activites"
                      class="btn btn-primary btn-pill"
                      style="background-color: #328885"
                      >Nos Activités</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-quick-info-2">
        <div id="nos-activites" class="container">
          <div class="block-quick-info-2-inner">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="d-flex quick-info-2">
                  <span class="icon icon-home mr-3"></span>
                  <div class="text">
                    <strong class="d-block heading">Notre Adresse</strong>
                    <span class="excerpt"
                      >03 Les Effes à Varennes sur Fouzon 36210</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="d-flex quick-info-2">
                  <span class="icon icon-phone mr-3"></span>
                  <div class="text">
                    <strong class="d-block heading">Nous contacter</strong>
                    <span class="excerpt"
                      >N°1 : 06 65 08 99 07<br />
                      N°2 : 06 81 73 73 53</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="d-flex quick-info-2">
                  <span class="icon icon-envelope mr-3"></span>
                  <div class="text">
                    <strong class="d-block heading">Nous écrire</strong>
                    <span class="excerpt">aquaeffes@gmail.com</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="d-flex quick-info-2">
                  <span class="icon icon-clock-o mr-3"></span>
                  <div class="text">
                    <strong class="d-block heading">Horaires Cours</strong>
                    <a href="#Clock" class="excerpt swimming-btn-clock"
                      >Cliquer ici</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-services-1 py-5">
        <div class="container">
          <div class="row">
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
              <h3 class="mb-3">Nos Activités</h3>
              <p>
                Toutes nos activités piscine sont effectuées par un Maitre
                Nageur certifié. <br />Vous pouvez voir la liste de nos
                services, pour la réservation
                <a
                  href="#Clock"
                  style="color: #328885; text-decoration: underline"
                  >c'est ici !</a
                >
              </p>
              <p>
                <span class="span-custom">Nos activités</span>
                <span class="icon-keyboard_arrow_right icon span-custom"></span>
              </p>
            </div>
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
              <div class="block-service-1-card">
                <a href="#" class="thumbnail-link d-block mb-4"
                  ><img
                    src="images/cours-natation.jpg"
                    alt="Image"
                    class="img-fluid"
                /></a>
                <h3 class="block-service-1-heading mb-3">
                  <a href="#">Cours de natation</a>
                </h3>
                <div class="block-service-1-excerpt">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Enim odit molestias inventore, id sed, in harum tenetur
                    earum.
                  </p>
                </div>
                <p>
                  <a
                    href="#Clock"
                    class="
                      d-inline-flex
                      align-items-center
                      block-service-1-more
                    "
                    ><span class="span-custom">Horaires et Prix</span>
                    <span
                      class="icon-keyboard_arrow_right icon span-custom"
                    ></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
              <div class="block-service-1-card">
                <a href="#" class="thumbnail-link d-block mb-4"
                  ><img src="images/aquagym.jpg" alt="Image" class="img-fluid"
                /></a>
                <h3 class="block-service-1-heading mb-3">
                  <a href="#">Aquagym</a>
                </h3>
                <div class="block-service-1-excerpt">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Enim odit molestias inventore, id sed, in harum tenetur
                    earum.
                  </p>
                </div>
                <p>
                  <a
                    href="#Clock"
                    class="
                      d-inline-flex
                      align-items-center
                      block-service-1-more
                    "
                    ><span class="span-custom">Horaires et Prix</span>
                    <span
                      class="icon-keyboard_arrow_right icon span-custom"
                    ></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
              <div class="block-service-1-card">
                <a href="#" class="thumbnail-link d-block mb-4"
                  ><img
                    src="images/perf_natation.jpg"
                    alt="Image"
                    class="img-fluid"
                /></a>
                <h3 class="block-service-1-heading mb-3">
                  <a href="#">Perfectionnement Natation</a>
                </h3>
                <div class="block-service-1-excerpt">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Enim odit molestias inventore, id sed, in harum tenetur
                    earum.
                  </p>
                </div>
                <p>
                  <a
                    href="#Clock"
                    class="
                      d-inline-flex
                      align-items-center
                      block-service-1-more
                    "
                    ><span class="span-custom">Horaires et Prix</span>
                    <span
                      class="icon-keyboard_arrow_right icon span-custom"
                    ></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section swimming-pool p-5" id="Clock">
        <div class="container ctn-clock pb-4">
          <div class="row mb-5">
            <div class="col-md-12 text-center">
              <h2 class="site-section-heading text-center font-secondary pt-4">
                Horaires Cours
              </h2>
            </div>
          </div>
          <h5 class="text-danger text-center"></h5>
          <h5 class="text-warning text-center">
            <!-- <i class="fas fa-exclamation-triangle text-warning"></i> -->
          </h5>
          <div class="row">
            <div class="col-12">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Cours Piscine (40min)</th>
                    <th scope="col">Aquagym (40min)</th>
                    <th scope="col">Perf Natation (40min)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Lundi</th>
                    <td>17h00 ou 18h00</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Mardi</th>
                    <td>17h00 ou 18h00</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Mercredi</th>
                    <td>17h00 ou 18h00</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Jeudi</th>
                    <td>17h00 ou 18h00</td>
                    <td>12h00</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Vendredi</th>
                    <td>17h00 ou 18h00</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Samedi</th>
                    <td>12h00</td>
                    <td>11h00</td>
                    <td>10h00</td>
                  </tr>
                  <tr>
                    <th>Dimanche</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-12 text-center">
              <h2 class="site-section-heading text-center font-secondary pt-4">
                Prix par séance (40 min)
              </h2>
            </div>
          </div>
          <h5 class="text-danger text-center"></h5>
          <h5 class="text-warning text-center">
            <!-- <i class="fas fa-exclamation-triangle text-warning"></i> -->
          </h5>
          <div class="row justify-content-md-center">
            <div class="col-8">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col">1 séance</th>
                    <th scope="col">5 séances</th>
                    <th scope="col">10 séances</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10€</td>
                    <td>45€</td>
                    <td>80€</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section" id="About">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12 text-center">
              <h2 class="site-section-heading text-center font-secondary">
                Les Gérants
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="owl-carousel-2 owl-carousel">
                <div class="d-block block-testimony mx-auto text-center">
                  <div class="person w-25 mx-auto mb-4">
                    <img
                      src="images/person_1.jpg"
                      alt="Image"
                      class="img-fluid rounded-circle w-50 mx-auto"
                    />
                  </div>
                  <div>
                    <h2 class="h5 mb-4">Muriel Berger</h2>
                    <blockquote>
                      &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Alias accusantium qui optio, possimus necessitatibus
                      voluptate aliquam velit nostrum tempora ipsam!&rdquo;
                    </blockquote>
                  </div>
                </div>

                <div class="d-block block-testimony mx-auto text-center">
                  <div class="person w-25 mx-auto mb-4">
                    <img
                      src="images/person_2.jpg"
                      alt="Image"
                      class="img-fluid rounded-circle w-50 mx-auto"
                    />
                  </div>
                  <div>
                    <h2 class="h5 mb-4">Eric Nonat</h2>
                    <blockquote>
                      &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Alias accusantium qui optio, possimus necessitatibus
                      voluptate aliquam velit nostrum tempora ipsam!&rdquo;
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="site-footer">
        <div class="container">
          <div class="row pt-5 mt-5">
            <div class="col-12 text-md-center text-left">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with
                <i class="icon-heart text-danger" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <%- include ("../partials/footer.ejs") %>
    <script>
      var typed = new Typed(".typed-words", {
        strings: ["corps", " stress", " fatigue"],
        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 4000,
        startDelay: 1000,
        loop: true,
        showCursor: true,
      });
    </script>
    <script>
      var sidebarEtat = true;

      function sidebar() {
        if (sidebarEtat == true) {
          document.getElementById("mySidebar").style.width = "20px";
          document.getElementById("btn-sidebar").innerHTML = ">";
          return (sidebarEtat = false);
        }
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("btn-sidebar").innerHTML = "<";
        return (sidebarEtat = true);
      }
    </script>
  </body>
</html>
<!--
  <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                  <h2 class="footer-heading mb-4">Follow Us</h2>
                  <a href="#" class="pl-0 pr-3"
                    ><span class="icon-facebook"></span
                  ></a>
                  <a href="#" class="pl-3 pr-3"
                    ><span class="icon-twitter"></span
                  ></a>
                  <a href="#" class="pl-3 pr-3"
                    ><span class="icon-instagram"></span
                  ></a>
                  <a href="#" class="pl-3 pr-3"
                    ><span class="icon-linkedin"></span
                  ></a>
                </div>
-->
